.yad-main {
    display: grid;
    grid-template-rows: $grid-header-height auto 100px;
    min-height: 100vh;
}

.yad-wrapper {
    max-width: 1080px;
    margin: auto;
    padding: 0 $md;
}

.yad-header,
.yad-footer {
    background-color: rgba(11, 29, 48, .86);
    color: #fff;
}
.yad-flex {
    display: flex;
}
